In [19]:
import os
import sys

import yaml
import pymysql
import pandas as pd
import pytablewriter
from IPython.display import clear_output

sys.path.insert(0, '..')

with open('../config.yml') as f:
    config = yaml.load(f)

DB = 'mysql+pymysql://{username}:{password}@{host}/{database}?charset=utf8'.format(
    **config['deploy']
)

WRITER = pytablewriter.MarkdownTableWriter()

pd.options.display.max_rows = 10

clear_output()

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False

In [20]:
def query(q):
    df = pd.read_sql_query(q, DB)
    WRITER.from_dataframe(df)
    WRITER.write_table()

- pandas.DataFrameをMarkdownのテーブル記法に変換する方法（[4.5.3. Using pandas DataFrame as tabular data source](http://pytablewriter.readthedocs.io/en/latest/pages/examples/datasource/from_pandas_dataframe.html)）
- 参考文献
    - L. Beighley,直生佐藤,多苗子松永,Head first SQL : 頭とからだで覚える SQL の基本,オライリー・ジャパン, オーム社 (発売),2008.

In [26]:
query(
    'select * from lang_models limit 5',
)

|id |lang_model_id|                checksum                |
|--:|-------------|----------------------------------------|
|  2|LM0001       |b08c3defbc5306bbf3d82a25ea2a4977b505ed84|
|  5|LM0002       |751f7ab4368794c1fa2ec0d4c78d9f682481dcc8|
|  6|LM0003       |eca0e642d8f97becbe52ea0dd00b72de98b8c3f0|
|  8|LM0004       |033f7d07c3d6cf9af3854671519411bb7cd57581|
|  9|LM0005       |8dd3a60b10b4897e00de0d3503c1180732eaea6a|

In [27]:
query(
    'select * from created_lang_model limit 5',
)

|id |lang_model_id|       sentence_id        |
|--:|-------------|--------------------------|
|  3|LM0001       |CPRTUR00000001_SD0001_0101|
|  4|LM0001       |CPRTUR00000008_SD0001_0201|
|  5|LM0001       |CPRTUR00000008_SD0001_0202|
|  6|LM0001       |CPRTUR00000009_SD0001_0101|
|  7|LM0001       |CPRTUR00000012_SD0001_0101|