## テーブル結合（内部結合・左側外部結合）
- 女の子の名簿と、おもちゃのリストを例にテーブル結合について説明する
- 参考文献
    - L. Beighley,直生佐藤,多苗子松永,Head first SQL : 頭とからだで覚える SQL の基本,オライリー・ジャパン, オーム社 (発売),2008.

In [1]:
import pandas as pd

In [3]:
# 女の子の一覧（toy_idは持っているおもちゃを表す）
girls = pd.DataFrame({
    'id': list(range(1, 1+3)),
    'girl': [f'girl_{chr(i)}' for i in range(97, 97+3)],
    'toy_id': [3, 4, 1]
})
girls

   id    girl  toy_id
0   1  girl_a       3
1   2  girl_b       4
2   3  girl_c       1

In [4]:
# おもちゃの一覧
toys = pd.DataFrame({
    'toy_id': list(range(1, 1+8)),
    'toy': [f'toy_{chr(i)}' for i in range(97, 97+8)]
})
toys

   toy_id    toy
0       1  toy_a
1       2  toy_b
2       3  toy_c
3       4  toy_d
4       5  toy_e
5       6  toy_f
6       7  toy_g
7       8  toy_h

## 内部結合
- 2つの表を横に並べる方法
- 指定したカラムが一致する行を対応させて表示
- 3列と2列の2つの表が1列を共有して結合するので4列になる
- 表の左右が変わっても結果（対応する行）は同じ
- （`pd.merge(a, b)`は`a`を左、`b`を右とした結合）

In [32]:
pd.merge(girls, toys, on='toy_id', how='inner')

   id    girl  toy_id    toy
0   1  girl_a       3  toy_c
1   2  girl_b       4  toy_d
2   3  girl_c       1  toy_a

In [33]:
pd.merge(toys, girls, on='toy_id', how='inner')

   toy_id    toy  id    girl
0       1  toy_a   3  girl_c
1       3  toy_c   1  girl_a
2       4  toy_d   2  girl_b

## 左側外部結合
- 内部結合と基本的には同じ
- 左側の表を一覧することが優先される
- 右側の表の行のうち対応がないものがある場合Nullとなる

In [35]:
# girlsを左とした左側外部結合
pd.merge(girls, toys, on='toy_id', how='left')

   id    girl  toy_id    toy
0   1  girl_a       3  toy_c
1   2  girl_b       4  toy_d
2   3  girl_c       1  toy_a

In [36]:
# toysを左にして左側外部結合
pd.merge(toys, girls, on='toy_id', how='left')

   toy_id    toy   id    girl
0       1  toy_a  3.0  girl_c
1       2  toy_b  NaN     NaN
2       3  toy_c  1.0  girl_a
3       4  toy_d  2.0  girl_b
4       5  toy_e  NaN     NaN
5       6  toy_f  NaN     NaN
6       7  toy_g  NaN     NaN
7       8  toy_h  NaN     NaN

## 右側外部結合
- 左側外部結合の左右の扱いが逆になったもの
- 右側一覧を優先、対応がない場合左側を欠損値
- 左側外部結合で書けるので普通は使わない

## girlsを左とした左側外部結合を表すSQL式
```sql
SELECT
  *
FROM
  girls AS g
  LEFT JOIN toys AS t
  ON g.toy_id = t.toy_id
```